* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.imgBox {
    width: 200px;
    margin-top: 32px;
    border: 1px solid black;
    border-radius: 8px;
}

.imgBox img {
    width: 100%;
    border-radius: 8px;
}